/*******************************************************************************
  REACT-APP : APP
*******************************************************************************/

html, body, .root, .App {
  height: 100%;
  width: 100%;
}

/***************************************
  App
***************************************/

.App > header, .App > main > section > header {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App > main > section {
  border-top: var(--size-01-px) solid var(--gray-300);
  padding: var(--size-05-px) 0;
}
